In [48]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')

customer_df = pd.DataFrame(df['customer'].values.tolist(), columns=list(df['customer'][0].keys()))
phone_df = pd.DataFrame(df['phone'].values.tolist(), columns=list(df['phone'][0].keys()))
internet_df = pd.DataFrame(df['internet'].values.tolist(), columns=list(df['internet'][0].keys()))
account_df = pd.DataFrame(df['account'].values.tolist(), columns=list(df['account'][0].keys()))

df = pd.concat([df[['customerID', 'Churn']], customer_df, phone_df, internet_df, account_df], axis=1)

charges_df = pd.DataFrame(df['Charges'].values.tolist(), columns=list(df['Charges'][0].keys()))
charges_df = charges_df.rename(columns = {'Monthly': 'MonthlyCharges', 'Total': 'TotalCharges'})

df = df.drop('Charges', axis=1)

df = pd.concat([df, charges_df], axis=1)

In [51]:
# Changing SeniorCitizen values to Yes/No
df['SeniorCitizen'] = df['SeniorCitizen'].apply(lambda x: 'Yes' if x == 1 else 'No')

In [52]:
# a lot of 'Total_charges' values are string and some are int,
# so we are going to convert them all into floats,
# but, some of the string values are empty strings,
# therefore, before converting them into floats,
# we need to deal with these empty strings first.

df['TotalCharges'] = df['TotalCharges'].apply(lambda x: '0' if x == ' ' else x)
df['TotalCharges'] = df['TotalCharges'].apply(float)

In [53]:
# creating DailyCharges column
daily_charges = df['MonthlyCharges']/30
df.insert(18, 'DailyCharges', daily_charges)

In [54]:
df.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'DailyCharges', 'PaymentMethod', 'MonthlyCharges',
       'TotalCharges'],
      dtype='object')

In [55]:
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,DailyCharges,PaymentMethod,MonthlyCharges,TotalCharges
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,2.186667,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,1.996667,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,2.463333,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,No,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,3.266667,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,No,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,2.796667,Mailed check,83.9,267.40

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   object
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  DailyCharges      7267 non-null   float64
 19  PaymentMethod     7267 non-null   object
 20  MonthlyCharges    7267 non-null   float64
 21  TotalCharges      7267 non-null   float64
dtypes: float64(3), int64(1), object(18)
memory usage: 1.2+ MB

In [57]:
df.select_dtypes('object')

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,0002-ORFBO,No,Female,No,Yes,Yes,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check
1,0003-MKNFE,No,Male,No,No,No,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check
2,0004-TLHLJ,Yes,Male,No,No,No,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check
3,0011-IGKFF,Yes,Male,No,Yes,No,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check
4,0013-EXCHZ,Yes,Female,No,Yes,No,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,No,No,No,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check
7263,9992-RRAMN,Yes,Male,No,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check
7264,9992-UJOEL,No,Male,No,No,No,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check
7265,9993-LHIEB,No,Male,No,Yes,Yes,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check
7266,9995-HOTOH,No,Male,No,Yes,Yes,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check

## Missing values

For example, in the Churn variable, as seen below, we have 224 missing values.

In the future, we would like to predict the churn if its value is missing. For now, let's indicate those values with None.

In [58]:
df['Churn'].value_counts()

No     5174
Yes    1869
        224
Name: Churn, dtype: int64

In [59]:
df['Churn'] = df['Churn'].apply(lambda x: None if (x != 'Yes') & (x != 'No') else x)

In [60]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

Let's now analyse the other variables.

In [61]:
# everything ok with this one :)
df['Partner'].value_counts()

No     3749
Yes    3518
Name: Partner, dtype: int64

In [62]:
# everything ok with this one :)
df['gender'].value_counts()

Male      3675
Female    3592
Name: gender, dtype: int64

In [63]:
# everything ok with this one :)
df['SeniorCitizen'].value_counts()

No    7267
Name: SeniorCitizen, dtype: int64

In [64]:
# everything ok with this one :)
df['Partner'].value_counts()

No     3749
Yes    3518
Name: Partner, dtype: int64

In [65]:
# everything ok with this one :)
df['Dependents'].value_counts()

No     5086
Yes    2181
Name: Dependents, dtype: int64

In [66]:
# everything ok with this one :)
df['tenure'].isna().sum() # count number of missing data

0

In [67]:
# everything ok with this one :)
df['PhoneService'].value_counts()

Yes    6560
No      707
Name: PhoneService, dtype: int64

In [68]:
# everything ok with this one :)
df['MultipleLines'].value_counts()

No                  3495
Yes                 3065
No phone service     707
Name: MultipleLines, dtype: int64

In [69]:
# everything ok with this one :)
df['InternetService'].value_counts()

Fiber optic    3198
DSL            2488
No             1581
Name: InternetService, dtype: int64

In [23]:
# everything ok with this one :)
df['OnlineSecurity'].value_counts()

No                     3608
Yes                    2078
No internet service    1581
Name: OnlineSecurity, dtype: int64

In [24]:
# everything ok with this one :)
df['OnlineBackup'].value_counts()

No                     3182
Yes                    2504
No internet service    1581
Name: OnlineBackup, dtype: int64

In [25]:
# everything ok with this one :)
df['DeviceProtection'].value_counts()

No                     3195
Yes                    2491
No internet service    1581
Name: DeviceProtection, dtype: int64

In [26]:
# everything ok with this one :)
df['TechSupport'].value_counts()

No                     3582
Yes                    2104
No internet service    1581
Name: TechSupport, dtype: int64

In [27]:
# everything ok with this one :)
df['StreamingTV'].value_counts()

No                     2896
Yes                    2790
No internet service    1581
Name: StreamingTV, dtype: int64

In [28]:
# everything ok with this one :)
df['StreamingMovies'].value_counts()

No                     2870
Yes                    2816
No internet service    1581
Name: StreamingMovies, dtype: int64

In [29]:
# everything ok with this one :)
df['Contract'].value_counts()

Month-to-month    4005
Two year          1743
One year          1519
Name: Contract, dtype: int64

In [30]:
# everything ok with this one :)
df['PaperlessBilling'].value_counts()

Yes    4311
No     2956
Name: PaperlessBilling, dtype: int64

In [70]:
# everything ok with this one :)
df['DailyCharges'].isna().sum() # count number of missing data

0

In [71]:
# everything ok with this one :)
df['PaymentMethod'].value_counts()

Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: PaymentMethod, dtype: int64

In [72]:
# everything ok with this one :)
df['MonthlyCharges'].isna().sum() # count number of missing data

0

In [73]:
# everything ok with this one :)
df['TotalCharges'].isna().sum() # count number of missing data

0

In [74]:
# missing values percentage per column
df.isna().sum().apply(lambda x: round(x/len(df), 3))

customerID          0.000
Churn               0.031
gender              0.000
SeniorCitizen       0.000
Partner             0.000
Dependents          0.000
tenure              0.000
PhoneService        0.000
MultipleLines       0.000
InternetService     0.000
OnlineSecurity      0.000
OnlineBackup        0.000
DeviceProtection    0.000
TechSupport         0.000
StreamingTV         0.000
StreamingMovies     0.000
Contract            0.000
PaperlessBilling    0.000
DailyCharges        0.000
PaymentMethod       0.000
MonthlyCharges      0.000
TotalCharges        0.000
dtype: float64

In [75]:
#droping NaN values
df = df.dropna()

In [76]:
# missing values percentage per column
df.isna().sum().apply(lambda x: round(x/len(df), 3))

customerID          0.0
Churn               0.0
gender              0.0
SeniorCitizen       0.0
Partner             0.0
Dependents          0.0
tenure              0.0
PhoneService        0.0
MultipleLines       0.0
InternetService     0.0
OnlineSecurity      0.0
OnlineBackup        0.0
DeviceProtection    0.0
TechSupport         0.0
StreamingTV         0.0
StreamingMovies     0.0
Contract            0.0
PaperlessBilling    0.0
DailyCharges        0.0
PaymentMethod       0.0
MonthlyCharges      0.0
TotalCharges        0.0
dtype: float64

In [77]:
# save dataset
df.to_csv('../data/customer_churn.csv', index=False)